<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer" method="get">
  <label for="input">"Hello, I am your coach, what did you want to tell me?"</label>
  <input type="text" id="input" name="query" placeholder="Ask away!">
  <input type="submit">
</form>
